body {
    font-family: Arial, sans-serif;
    background-color: #f9f0ff; 
    color: #555; 
    padding: 20px;
  }
  
  h1#title {
    color: #eac4d5; 
  }
  
  .content-section {
    background-color: #ffffff; 
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #d3c1e5; 
    box-shadow: 0 4px 8px rgba(211, 193, 229, 0.3); 
  }
  
  a#github-link {
    color: #b5a7d3; 
    text-decoration: none;
  }
  
  a#github-link:hover {
    color: #f8c8dc;
  }
  
  img {
    margin-top: 20px;
    width: 150px;
    height: 150px;
    border-radius: 8px;
    border: 2px solid #f8c8dc;
  }
  
  footer {
    text-align: center;
    padding: 20px;
    background-color: #d3c1e5; 
    color: #ffffff; 
  }